<%= provide(:title,'STACKS')%>
<!-- start page title section -->
<section class="page-title-section bg-img cover-background theme-overlay" data-overlay-dark="7" data-background="<%= image_tag("bg9.jpg") %>">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Console Interation</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="<%= root_path %>">Home</a></li>
                    <li><a href="javascript:void(0)">Console Interation</a></li>
                </ul>
            </div>
        </div>
        <%= @console %>
    </div>
</section>
<!-- end page title section -->
