<%= provide(:title, 'Home') %>
<!-- start main banner area -->
<div class="main-banner-area">

    <!-- start right image banner -->
    <div class="right-bg">
        <%=image_tag("header.jpg", :class => "img-fluid float-right width-100")%>
    </div>
    <!-- end right image banner -->

    <!-- start shape area -->
    <div class="header-shape-bg">
      <%=image_tag("header-bg.svg", :class => "img-fluid width-100")%>
    </div>
    <!-- end shape area -->

    <!-- start banner text -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <h1 class=" wow fadeInUp" data-wow-delay=".1s">CSC 2100 Data Structures and Algorithms</h1>
                    <p class=" wow fadeInUp" data-wow-delay=".2s">The course gives students a firm foundation of data structures and algorithms. The course trains students on systematic
                       development and analysis of algorithms. The importance of algorithm complexity on computer performance is emphasized. Typical computational problems and their solutions/analysis are to be covered.</p>
                    <!-- <div class="email-box  wow fadeInUp" data-wow-delay=".3s">
                        <div class="input">
                            <input type="email" placeholder="Enter your email">
                            <a href="javascript:void(0)" class="butn"><span>Subscribe</span></a>
                        </div>
                        <span>Enter your e-mail to get news about the latest algos.</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- end banner text -->

    <!-- start play button -->
    <div class="play-button-wrapper story-video">
        <%= link_to video_path("down-time.mp4"), :class => "btn-play video"  do %>
          <i class="fa fa-play"></i>
        <% end %>
    </div>
    <!-- end play button -->

</div>
<!-- end main banner area -->

<!-- start service section -->
<section class="bg-light-gray">
    <div class="container">
        <div class="text-center section-heading">
            <h2>About Data Structures and Algorithms</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
                <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".2s">
                    <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
                        <i class="fas fa-clone text-theme-color"></i>
                        <div class="box-circle-large"></div>
                        <div class="box-circle-small"></div>
                    </div>
                    <h3 class="margin-10px-bottom font-size22 md-font-size20 xs-font-size18">Aims</h3>
                    <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24">Make students appreciate the role of data structures in computer programs.</p>
                    <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24">Introduce students to concepts Data structures.</p>
                    <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24">Introduce students to concepts of algorithm analysis.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
                <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".4s">
                    <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
                        <i class="fab fa-accusoft text-theme-color"></i>
                        <div class="box-circle-large"></div>
                        <div class="box-circle-small"></div>
                    </div>
                    <h3 class="margin-10px-bottom font-size22 md-font-size20 xs-font-size18">Teaching and Learning Pattern</h3>
                    <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24">The teaching pattern is by lecture and practical lab work.</p>
                    <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24">There will also be group discussion and class presentations.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".6s">
                    <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
                        <i class="fas fa-chart-pie text-theme-color"></i>
                        <div class="box-circle-large"></div>
                        <div class="box-circle-small"></div>
                    </div>
                    <h3 class="margin-15px-bottom font-size22 md-font-size20 xs-font-size18">Assessment</h3>
                    <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24">First assesment will be done by tests/assignments(40%).</p>
                    <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24">Second assesment will be done by final exams(60%).</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end service section -->

<!-- start innovate business section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 sm-text-center sm-margin-30px-bottom">
                <%=image_tag("content-02.png") %>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="padding-30px-left sm-no-padding">
                    <h4 class="sm-margin-lr-auto sm-text-center xs-width-100 sm-margin-30px-bottom">Quick Preview of DSA</h4>
                    <div id="accordion" class="accordion-style">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">why learn data structures and algorithms ?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                  <ul class="list-style no-margin-bottom">
                                    <li>Improve students’ problem solving skills by subjecting them to step by step analysis and design of computer algorithms.</li>
                                    <li>To expose students generic algorithmic problems and apply them to other computational scenarios.</li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      data structures and algorithms reading list
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                  <ul class="list-style no-margin-bottom">
                                     <li>Data Structures and Algorithms in Java by Michael T. Goodric SIXTH Edition 2014.</li>
                                     <li>Data Structures and Algorithm Analysis in Java by Mark Allen Weiss Third Edition 2012.</li>
                                     <li>Problem Solving with Algorithms and Data Structures Release 3.0 by Brad Miller, David Ranum 2013.</li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      who is this course for ?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    This course is designed for Computer Science students as well as Software Professionals who are willing to learn data structures and algorithm programming in simple and easy steps.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end innovate business section -->


<!-- start pricing table -->
<!-- end pricing table -->

<!-- start testmonials section -->
<section class="bg-light-gray">
    <div class="container">
        <div class="section-heading">
            <h3>Course Lecturers</h3>
        </div>
        <div class="owl-carousel owl-theme" id="testmonials-carousel">
            <div class="testmonial-single text-center">
                <%=image_tag("t-1.jpg", :class => "rounded-circle border") %>
                <h4 class="padding-20px-top font-size16 letter-spacing-1 no-margin-bottom">David Byansi</h4>
                <h6 class="no-margin font-size11 text-uppercase letter-spacing-2 padding-25px-bottom">Lead Lecturer</h6>
                <p class="line-height-28 width-50 sm-width-75 xs-width-90 center-col">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <span class="font-size24 vertical-align-top display-inline-block"><i class="fas fa-quote-right"></i></span>
            </div>
            <div class="testmonial-single text-center">
                <%=image_tag("t-2.jpg", :class => "rounded-circle border") %>
                <h4 class="padding-20px-top font-size16 letter-spacing-1 no-margin-bottom">Diana Nakakande</h4>
                <h6 class="no-margin font-size11 text-uppercase letter-spacing-2 padding-25px-bottom">Lecturer</h6>
                <p class="line-height-28 width-50 sm-width-75 xs-width-90 center-col">Developer ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur voluptate.</p>
                <span class="font-size24 vertical-align-top display-inline-block"><i class="fas fa-quote-right"></i></span>
            </div>
            <div class="testmonial-single text-center">
                <%=image_tag("t-3.jpg", :class => "rounded-circle border") %>
                <h4 class="padding-20px-top font-size16 letter-spacing-1 no-margin-bottom">Resty Nakisitu</h4>
                <h6 class="no-margin font-size11 text-uppercase letter-spacing-2 padding-25px-bottom">Lecturer</h6>
                <p class="line-height-28 width-50 sm-width-75 xs-width-90 center-col">Designer ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur commodo consequat.</p>
                <span class="font-size24 vertical-align-top display-inline-block"><i class="fas fa-quote-right"></i></span>
            </div>

        </div>
    </div>
</section>
<!-- end testmonials section -->

<!-- start blog section -->
<section>
    <div class="container">
        <div class="section-heading">
            <h3>Latest Lectures</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 sm-margin-30px-bottom">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><%=image_tag("blog-1.jpg") %>
                        <div class="data-box-grid position-absolute">
                            <h5><%= (Date.today - 20).to_datetime.strftime("%d")%></h5>
                            <p><%= (Date.current - 1.months).to_datetime.strftime("%b")%></p>
                        </div>
                    </div>
                    <div class="blog-grid-text padding-25px-all sm-padding-20px-all border border-color-medium-gray">
                        <h4><a href="javascript:void(0)">Introduction to Data structures and Algorithms</a></h4>
                        <p class="no-margin">Data Structures are the programmatic way of storing data so that data can be used efficiently.
                           Almost every enterprise application uses various types of data structures in one or the other way.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 sm-margin-30px-bottom">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><%=image_tag("blog-2.jpg") %>
                        <div class="data-box-grid position-absolute">
                          <h5><%= (Date.today - 15).to_datetime.strftime("%d")%></h5>
                          <p><%= (Date.current - 1.months).to_datetime.strftime("%b")%></p>
                        </div>
                    </div>
                    <div class="blog-grid-text padding-25px-all sm-padding-20px-all border border-color-medium-gray">
                        <h4><a href="javascript:void(0)">Algorithm Ananlysis</a></h4>
                        <p class="no-margin">An algorithm is a finite sequence of instructions, each of which has a clear meaning and can
                          be performed with a finite amount of effort in a finite length of time.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><%=image_tag("blog-3.jpg") %>
                        <div class="data-box-grid position-absolute">
                          <h5><%= (Date.today - 10).to_datetime.strftime("%d")%></h5>
                          <p><%= (Date.current).to_datetime.strftime("%b")%></p>
                        </div>
                    </div>
                    <div class="blog-grid-text padding-25px-all sm-padding-20px-all border border-color-medium-gray">
                        <h4><a href="javascript:void(0)">Recurssion and Induction</a></h4>
                        <p class="no-margin">Exercitation ullamco laboris nisi ut aliquip ex ea commodo. cillum dolore eu fugiat nulla pariatur commodo consequat.cillum dolore eu fugiat pariatur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end blog section -->
