<%= provide(:title, 'Fibonacci & Factorial') %>
<section class="bg-light-gray">
    <div class="container">
      <% if @method == "Fibonacci"%>
        <div class="row">
            <div class="col-lg-6 col-md-12 sm-margin-20px-bottom margin-twenty-five-left">
                <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp">
                    <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Result for <%=@number%> Fibonacci</div>
                    <p class="center-col">Result is <%= @result %></p>
                </div>
            </div>
        </div>
      <% end %>
      <% if @method == "Factorial"%>
        <div class="row">
            <div class="col-lg-6 col-md-12 sm-margin-20px-bottom margin-twenty-five-left">
                <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp">
                    <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Result for <%=@number%> Factorial</div>
                    <p class="center-col">Result is <%= @result %></p>
                </div>
            </div>
        </div>
      <% end %>
    </div>
</section>
