<%= provide(:title, 'Fibonacci and Factorial') %>
<section>
    <div class="container" align="center">
      <h5>Fibonacci & Factorial</h5>
      <div class="row">
        <div class="col-lg-6 col-md-12 sm-margin-20px-bottom margin-twenty-five-left">
          <%= form_tag(fibonacci_and_factorial_computation_path, :method => "post", remote: true) do %>
            <%= select_tag :method, options_for_select(["select option", "Fibonacci", "Factorial"])%>
            <%= number_field_tag :number, params[:number], placeholder: "Enter number to compute", required: true %>
            <%= submit_tag "Compute",class: 'btn btn-primary', :name => nil %>
          <% end %>
        </div>
      </div>
    </div>
</section>
