<%= provide(:title, 'Our Team') %>
<!-- start page title section -->
<section class="page-title-section bg-img cover-background theme-overlay" data-overlay-dark="7" data-background="<%= image_tag("bg9.jpg") %>">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Our Team</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="javascript:void(0)">Our Team</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->

<!-- start team section -->
<section class="team bg-light-gray">
    <div class="container">
        <div class="row">

            <!-- Start Team Member -->
            <div class="col-lg-3 col-md-6 col-xs-12 sm-margin-30px-bottom xs-margin-20px-bottom text-center">
                <div class="team-style">
                    <div class="team-member-img">
                        <%= image_tag('dianah.png', :class => "img-responsive")%>
                        <div class="team-description">
                            <div class="team-description-wrapper">
                                <div class="team-description-content">
                                    <div class="social-links">
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-facebook-f text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-twitter text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-linkedin-in text-white font-size16"></i></a>
                                        <a class="d-inline-block border-radius-100" href="#"><i class="fab fa-instagram text-white font-size16"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-cover"></div>
                    </div>
                    <div class="text-center margin-25px-top">
                        <div class="text-extra-dark-gray font-weight-600 font-size14 alt-font margin-5px-bottom">NAKAKANDE DIANAH</div>
                        <div class="font-size14 xs-font-size13">Lead Developer</div>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

            <!-- Start Team Member -->
            <div class="col-lg-3 col-md-6 col-xs-12 sm-margin-30px-bottom  xs-margin-20px-bottom text-center">
                <div class="team-style">
                    <div class="team-member-img">
                        <%= image_tag('babirye.png', :class => "img-responsive")%>
                        <div class="team-description">
                            <div class="team-description-wrapper">
                                <div class="team-description-content">
                                    <div class="social-links">
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-facebook-f text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-twitter text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-linkedin-in text-white font-size16"></i></a>
                                        <a class="d-inline-block border-radius-100" href="#"><i class="fab fa-instagram text-white font-size16"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-cover"></div>
                    </div>
                    <div class="text-center margin-25px-top">
                        <div class="text-extra-dark-gray font-weight-600 font-size14 alt-font margin-5px-bottom">BABIRYE PETRINA.T.B</div>
                        <div class="font-size14 xs-font-size13">Designer</div>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

            <!-- Start Team Member -->
            <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-20px-bottom text-center">
                <div class="team-style">
                    <div class="team-member-img">
                      <%= image_tag('team-07.jpg', :class => "img-responsive")%>
                        <div class="team-description">
                            <div class="team-description-wrapper">
                                <div class="team-description-content">
                                    <div class="social-links">
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-facebook-f text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-twitter text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-linkedin-in text-white font-size16"></i></a>
                                        <a class="d-inline-block border-radius-100" href="#"><i class="fab fa-instagram text-white font-size16"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-cover"></div>
                    </div>
                    <div class="text-center margin-25px-top">
                        <div class="text-extra-dark-gray font-weight-600 font-size14 alt-font margin-5px-bottom">Jamara Karle</div>
                        <div class="font-size14 xs-font-size13">Designer</div>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

            <!-- Start Team Member -->
            <div class="col-lg-3 col-md-6 col-xs-12 text-center">
                <div class="team-style">
                    <div class="team-member-img">
                      <%= image_tag('team-08.jpg', :class => "img-responsive")%>
                        <div class="team-description">
                            <div class="team-description-wrapper">
                                <div class="team-description-content">
                                    <div class="social-links">
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-facebook-f text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-twitter text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-linkedin-in text-white font-size16"></i></a>
                                        <a class="d-inline-block border-radius-100" href="#"><i class="fab fa-instagram text-white font-size16"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-cover"></div>
                    </div>
                    <div class="text-center margin-25px-top">
                        <div class="text-extra-dark-gray font-weight-600 font-size14 alt-font margin-5px-bottom">Keir Prestonly</div>
                        <div class="font-size14 xs-font-size13">Analyst</div>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

        </div>
    </div>
</section>
<!-- end team section -->
<!-- start team section -->
<section class="team bg-light-gray">
    <div class="container">
        <div class="row">

            <!-- Start Team Member -->
            <div class="col-lg-3 col-md-6 col-xs-12 sm-margin-30px-bottom xs-margin-20px-bottom text-center">
                <div class="team-style">
                    <div class="team-member-img">
                        <%= image_tag('team-05.jpg', :class => "img-responsive")%>
                        <div class="team-description">
                            <div class="team-description-wrapper">
                                <div class="team-description-content">
                                    <div class="social-links">
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-facebook-f text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-twitter text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-linkedin-in text-white font-size16"></i></a>
                                        <a class="d-inline-block border-radius-100" href="#"><i class="fab fa-instagram text-white font-size16"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-cover"></div>
                    </div>
                    <div class="text-center margin-25px-top">
                        <div class="text-extra-dark-gray font-weight-600 font-size14 alt-font margin-5px-bottom">Niamah Hower</div>
                        <div class="font-size14 xs-font-size13">Lead Developer</div>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

            <!-- Start Team Member -->
            <div class="col-lg-3 col-md-6 col-xs-12 sm-margin-30px-bottom  xs-margin-20px-bottom text-center">
                <div class="team-style">
                    <div class="team-member-img">
                        <%= image_tag('team-06.jpg', :class => "img-responsive")%>
                        <div class="team-description">
                            <div class="team-description-wrapper">
                                <div class="team-description-content">
                                    <div class="social-links">
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-facebook-f text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-twitter text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-linkedin-in text-white font-size16"></i></a>
                                        <a class="d-inline-block border-radius-100" href="#"><i class="fab fa-instagram text-white font-size16"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-cover"></div>
                    </div>
                    <div class="text-center margin-25px-top">
                        <div class="text-extra-dark-gray font-weight-600 font-size14 alt-font margin-5px-bottom">Finley Walkeror</div>
                        <div class="font-size14 xs-font-size13">Designer</div>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

            <!-- Start Team Member -->
            <div class="col-lg-3 col-md-6 col-xs-12 xs-margin-20px-bottom text-center">
                <div class="team-style">
                    <div class="team-member-img">
                      <%= image_tag('team-07.jpg', :class => "img-responsive")%>
                        <div class="team-description">
                            <div class="team-description-wrapper">
                                <div class="team-description-content">
                                    <div class="social-links">
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-facebook-f text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-twitter text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-linkedin-in text-white font-size16"></i></a>
                                        <a class="d-inline-block border-radius-100" href="#"><i class="fab fa-instagram text-white font-size16"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-cover"></div>
                    </div>
                    <div class="text-center margin-25px-top">
                        <div class="text-extra-dark-gray font-weight-600 font-size14 alt-font margin-5px-bottom">Jamara Karle</div>
                        <div class="font-size14 xs-font-size13">Designer</div>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

            <!-- Start Team Member -->
            <div class="col-lg-3 col-md-6 col-xs-12 text-center">
                <div class="team-style">
                    <div class="team-member-img">
                      <%= image_tag('team-08.jpg', :class => "img-responsive")%>
                        <div class="team-description">
                            <div class="team-description-wrapper">
                                <div class="team-description-content">
                                    <div class="social-links">
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-facebook-f text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-twitter text-white font-size16"></i></a>
                                        <a class="d-inline-block margin-15px-right" href="#"><i class="fab fa-linkedin-in text-white font-size16"></i></a>
                                        <a class="d-inline-block border-radius-100" href="#"><i class="fab fa-instagram text-white font-size16"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-cover"></div>
                    </div>
                    <div class="text-center margin-25px-top">
                        <div class="text-extra-dark-gray font-weight-600 font-size14 alt-font margin-5px-bottom">Keir Prestonly</div>
                        <div class="font-size14 xs-font-size13">Analyst</div>
                    </div>
                </div>
            </div>
            <!-- End Team Member -->

        </div>
    </div>
</section>
<!-- end team section -->
