<%= provide(:title, 'Course Outline') %>
<!-- start page title section -->
<section class="page-title-section bg-img cover-background theme-overlay" data-overlay-dark="7" data-background="<%= image_tag("bg9.jpg") %>">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Course Outline</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="<%= root_path %>">Home</a></li>
                    <li><a href="javascript:void(0)">Course Outline</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<section class="bg-light-gray">
    <div class="container">
        <div class="text-center section-heading">
            <h2>Data Structures and Algorithms</h2>
        </div>
        <div class="row">
          <!--  start blog left-->
          <div class="col-lg-9 col-md-12 padding-50px-right sm-padding-15px-right sm-margin-50px-bottom">
              <div class=blog-list-simple>
                <% @courses.each_with_index do |course, i| %>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="blog-list-simple-text"><span>Lecture <%=(i+1)%></span>
                              <h4><%=course.topic%></h4>
                              <ul class="meta">
                                  <li>
                                      <a href="javascript:void(0);">
                                          <i aria-hidden="true" class="fa fa-user"></i><%=course.lecturer_name%>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);">
                                          <i aria-hidden="true" class="fas fa-calendar-alt"></i><%=course.created_at.to_datetime.strftime("%b %d, %Y %I:%M%P")%>
                                      </a>
                                  </li>
                              </ul>
                                  <div class="text-left margin-10px-top"><a href="<%= course_path(course) %>" class="butn small"><span>Course content</span></a></div>
                          </div>
                      </div>
                  </div>
                <% end %>
              </div>
              <!-- start pager  -->
            <!-- course pagination to be placed here -->
            <%= paginate @courses %>
              <!-- end pager -->
          </div>
          <!--  end blog left-->
        </div>
    </div>
</section>
<!-- end service section -->
