<%= provide(:title, 'Courses') %>
<!-- start page title section -->
<section class="page-title-section bg-img cover-background theme-overlay" data-overlay-dark="7" data-background="img/banner/bg9.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Course Content</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="<%= course_outline_path %>">Course Outline</a></li>
                    <li><a href="javascript:void(0)">Course Content</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<section class="bg-light-gray">
    <div class="container">
        <div class="text-center section-heading">
            <h2><%= @course.topic %></h2>
        </div>
        <div class="row">
          <!--  start blog left-->
          <div class="col-lg-9 col-md-12 padding-50px-right sm-padding-15px-right sm-margin-50px-bottom">
              <div class=blog-list-simple>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="blog-list-simple-text"><span><%= @course.topic%> Description</span>
                              <ul class="meta">
                                  <li>
                                      <a href="javascript:void(0);">
                                          <i aria-hidden="true" class="fa fa-user"></i><%= @course.lecturer_name%>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);">
                                          <i aria-hidden="true" class="fas fa-calendar-alt"></i><%= @course.created_at.to_datetime.strftime("%b %d, %Y %I:%M%P")%>
                                      </a>
                                  </li>
                              </ul>
                                <p><%= @course.description %></p>
                                  <div class="text-left margin-10px-top"><a href="<%= course_outline_path %>" class="butn small"><span>Course Outline</span></a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--  end blog left-->
        </div>
    </div>
</section>
<!-- end service section -->
