<%= provide(:title, 'Contact Us') %>
<!-- start page title section -->
<section class="page-title-section bg-img cover-background theme-overlay" data-overlay-dark="7" data-background="<%= image_tag("bg9.jpg") %>">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="<%= root_path %>">Home</a></li>
                    <li><a href="javascript:void(0)">Contact Us</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->

<!-- start contact info section -->
<section class="bg-light-gray">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
                <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp">
                    <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
                        <i class="fas fa-map-marker-alt text-theme-color"></i>
                        <div class="box-circle-large"></div>
                        <div class="box-circle-small"></div>
                    </div>
                    <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Visit Our Office</div>
                    <p class="center-col">MAKERERE UNIVERSITY,COCIS,COMPUTER SCIENCE
                        <br>New York, NY 10013.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom wow fadeInUp" data-wow-delay="0.2s">
                <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin">
                    <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
                        <i class="fas fa-comments text-theme-color"></i>
                        <div class="box-circle-large"></div>
                        <div class="box-circle-small"></div>
                    </div>
                    <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Let's Talk</div>
                    <p class="center-col">Phone: (+256)779467316
                        <br>Fax: 123 456 789</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.4s">
                <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin">
                    <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
                        <i class="fas fa-envelope text-theme-color"></i>
                        <div class="box-circle-large"></div>
                        <div class="box-circle-small"></div>
                    </div>
                    <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">E-mail Us</div>
                    <p class="center-col"><a href="javascript:void(0)">group8@gmail.com</a>
                        <br><a href="javascript:void(0)">group8@cis.mak.ac.ug</a></p>
                </div>
            </div>
            <!-- end -->
        </div>

    </div>
</section>
<!-- end contact info section -->

<!-- start contact form -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">

                <div class="section-heading">
                    <h3>Get in Touch</h3>
                    <p class="width-55 sm-width-75 xs-width-95">We are available 24/7 by e-mail and phone.</p>
                </div>

                <form method="post" action="bat/rd-mailform.php" class="mailform off2">
                    <input type="hidden" name="form-type" value="contact">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="name" placeholder="Your Name:" data-constraints="@LettersOnly @NotEmpty">
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="phone" placeholder="Telephone:" data-constraints="@Phone">
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="email" placeholder="Email:" data-constraints="@Email @NotEmpty">
                        </div>
                        <div class="col-md-12">
                            <textarea name="message" rows="5" placeholder="Message:" data-constraints="@NotEmpty"></textarea>
                        </div>
                        <div class="mfControls col-md-12">
                            <button type="submit" class="butn">Sumbit comment</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<!-- end contact form -->
