<%= provide(:title, 'Sorting') %>
<section>
    <div class="container" align="center">
      <h5>Sorting Algorithms</h5>
      <div class="row">
        <div class="col-lg-6 col-md-12 sm-margin-20px-bottom margin-twenty-five-left">
          <%= form_tag(sorted_path, :method => "post", remote: true) do %>
            <%= select_tag :sort_method, options_for_select(["Select option", "Bubble sort", "Insertion sort", "Selection sort", "Quick sort",
            "Merge sort"])%>
            <%= number_field_tag :number, params[:number], placeholder: "Enter number of elements needed", required: true %>
            <%= submit_tag "SORT",class: 'btn btn-primary', :name => nil %>
          <% end %>
        </div>
      </div>
    </div>
</section>
