<%= provide(:title, 'Sorting Results') %>
<section class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 sm-margin-20px-bottom">
      <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp">
        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Unsorted Array</div>
        <p class="center-col">
          <% if @method == "Bubble sort"%>
            <p>Unsorted:</p>
            <p><%=@unsorted%></p>
          <% end %>
          <% if @method == "Insertion sort"%>
            <p>Unsorted:</p>
            <p><%=@unsorted%></p>
          <% end %>
          <% if @method == "Selection sort"%>
            <p>Unsorted:</p>
            <p><%=@unsorted%></p>
          <% end %>
          <% if @method == "Merge sort"%>
            <p>Unsorted:</p>
            <p><%=@unsorted%></p>
          <% end %>
          <% if @method == "Quick sort"%>
            <p>Unsorted:</p>
            <p><%=@unsorted%></p>
          <% end %>
        </p>
      </div>
      </div>
      <div class="col-lg-6 col-md-12 sm-margin-20px-bottom">
      <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp">
        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Result for <%=@method%></div>
        <p class="center-col">
          <% if @method == "Bubble sort"%>
            <p>Bubble sorted Array:</p>
            <p><%= @result%></p>
          <% end %>
          <% if @method == "Insertion sort"%>
            <p>Insertion sorted Array:</p>
            <p><%= @result%></p>
          <% end %>
          <% if @method == "Selection sort"%>
            <p>Selection sorted Array:</p>
            <p><%= @result%></p>
          <% end %>
          <% if @method == "Merge sort"%>
            <p>Merge sorted Array:</p>
            <p><%= @result%></p>
          <% end %>
          <% if @method == "Quick sort"%>
            <p>Quick sorted Array:</p>
            <p><%= @result%></p>
          <% end %>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
