<footer>
    <div class="container">
        <div class="row margin-30px-bottom padding-30px-bottom border-bottom border-color-light-white">
            <div class="col-lg-4 col-md-12 sm-margin-30px-bottom text-center">
                <h3 class="footer-title-style text-white">Phone</h3>
                <p class="font-size16 sm-font-size14">(+256) 779467316</p>
            </div>

            <div class="col-lg-4 col-md-12 sm-margin-30px-bottom text-center">
                <h3 class="footer-title-style text-white">Email</h3>
                <p class="font-size16 sm-font-size14">group8@gmail.com</p>
            </div>

            <div class="col-lg-4 col-md-12 text-center">
                <h3 class="footer-title-style text-white">Location</h3>
                <p class="font-size16 sm-font-size14"> Makerere University, COCIS.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <ul class="social-icon-style2 no-margin">
                    <li>
                        <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="footer-bar xs-font-size13">
       <div class="container">
          <div class="row">
             <div class="col-md-6 text-left xs-text-center xs-margin-5px-bottom">
                <p>&copy; Copyright Group Number 2019. All Rights Reserved.</p>
             </div>
             <div class="col-md-6 text-right xs-text-center">
                Design and Developed by: Group 8
             </div>
          </div>
       </div>
    </div>
</footer>
<!-- end footer section -->
