<!-- start header section -->
<header>
    <div class="navbar-default">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="menu_area alt-font">
                        <nav class="navbar navbar-expand-lg navbar-light no-padding">

                            <div class="navbar-header navbar-header-custom">
                                <!-- start logo -->
                                <!-- <a href="#" class="navbar-brand"><#%=image_tag("logo.png", :id => "logo")%></a> -->
                                <a href="#" class="navbar-brand" style="color: skyblue">Group 8</a>
                                <!-- end logo -->
                            </div>

                            <div class="navbar-toggler"></div>

                            <!-- start menu Area -->
                            <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                <li><a href="<%= root_path %>">Home</a></li>
                                <li><a href="<%= course_outline_path %>">Course</a></li>
                                <li><a href="<%= our_team_path %>">Our Team</a></li>
                                <li><a href="<%= contact_us_path %>">Contact Us</a></li>
                                <li><a href="<%= interactions_path %>">Stacks</a></li>
                                <li><a href="javascript:void(0)">Computations</a>
                                    <ul>
                                        <li><a href="<%= fibonacci_and_factorial_path %>">Fibonacci & Factorial</a></li>
                                        <li><a href="<%= tower_of_hanoi_path %>">Tower of Hanoi</a></li>
                                        <li><a href="<%= sorting_path %>">Sorting</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- end menu Area -->

                            <!-- start attribute navigation -->
                            <div class="attr-nav sm-no-margin sm-margin-65px-right">
                                <ul>
                                    <li class="search"><a href="javascript:void(0)"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                            <!-- end attribute navigation -->

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header section -->
