<meta name="description" content="Send Bulk SMS messages to Uganda, Kenya ,Tanzania and Democratic Republic of Congo. Use the most advanced web interface and a very fast REST API to send SMS. We are Africa's best SMS provider. ">
<meta charset="UTF-8">
<meta name="keywords" content="Bulk SMS,Bulk SMS Uganda, Bulk SMS Kenya, Bulk SMS Tanzania, Bulk SMS Democratic Republic of Congo, SMS API, Send Bulk SMS, REST API, SMS Gateway, SMS Provider, SMS reseller">
