<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- metas -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- title  -->
      <title>Data Structures | <%= yield(:title) %></title>
      <!-- favicon -->
      <link rel="shortcut icon" href="img/logos/favicon.png" />
      <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
      <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />
      <!-- precompile all crystal css -->
      <%= stylesheet_link_tag  "application", :media => "all" %>
   </head>

   <body>
     <!-- start page loading -->
     <div id="preloader">
         <div class="row loader">
             <div class="loader-icon"></div>
         </div>
     </div>
     <!-- end page loading -->
     <!-- start main-wrapper section -->
      <div class="main-wrapper">
        <!-- start header section -->
        <%= render "layouts/partials/header" %>
        <!-- end header section -->
        <%= yield %>
        <!-- start footer section -->
        <%= render 'layouts/partials/footer'unless current_page?(interactions_path) %>
        <!-- end footer section -->
        <!-- start scroll to top -->
        <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
        <!-- end scroll to top -->
        <!-- compile all js -->
        <%= javascript_include_tag 'application' %>
      </div>
      <!-- end main-wrapper section -->
   </body>
</html>
